<!-- image reel -->
<div class="w-full aspect-5/3 p-4 relative">
      <div class="border-2 border-base-300 block w-full h-full rounded-lg">

      <div class="absolute top-0 right-0 aspect-square w-1/3 zoomie hover:z-10 bg-white rounded-lg">
        <img 
          src="{{ slideshow[0] }}" 
          alt="placeholder" 
          class="h-full w-full rounded-lg object-cover shadow-md  brightness-90 hover:brightness-100 cursor-pointer" 
          eleventy:widths="300"
          onclick="my_modal_0.showModal()"
        />
      </div>
      <div class="absolute bottom-0 left-8/18 aspect-square w-1/3 zoomie hover:z-10 bg-white rounded-lg">
        <img 
          src="{{ slideshow[1] }}" 
          alt="placeholder" 
          class="h-full w-full rounded-lg object-cover shadow-md brightness-90 hover:brightness-100 cursor-pointer"
          eleventy:widths="300"
          onclick="my_modal_1.showModal()"
        />
       </div>
      <div class="absolute top-0 left-4/18 aspect-square w-1/3 zoomie hover:z-10 bg-white rounded-lg">
        <img 
          src="{{ slideshow[2] }}" 
          alt="placeholder" 
          class="h-full w-full rounded-lg object-cover shadow-md brightness-90 hover:brightness-100 cursor-pointer"
          eleventy:widths="300"
          onclick="my_modal_2.showModal()"
        />
      </div>
      <div class="absolute bottom-0 left-0 aspect-square w-1/3 zoomie hover:z-10 bg-white rounded-lg">
        <img 
          src="{{ slideshow[3] }}" 
          alt="placeholder" 
          class="h-full w-full rounded-lg object-cover shadow-md brightness-90 hover:brightness-100 cursor-pointer"  
          eleventy:widths="300"
          onclick="my_modal_3.showModal()"
        />
      </div>
</div>

<!-- modal windows -->
{% set rowNo = 0 %}
{% for slide in slideshow %}
<dialog id="my_modal_{{ rowNo }}" class="modal">
  <div class="modal-box p-2">
  <img 
    src="{{ slide.img }}" 
    alt="placeholder" 
    class="h-full w-full rounded-sm object-cover shadow-md" 
    eleventy:widths="1000"  />
      <div class="w-full py-2 text-sm text-center">
        {{ slide.caption }}
      </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
  {% assign rowNo = rowNo + 1 %}
{% endfor %}
</div>
<!-- image reel end -->

