    <footer class="w-full border-t border-gray-200 dark:border-gray-700 backdrop-blur-lg">
      <div class="md:flex max-w-[1400px] mx-auto">      
        <div class="w-xs order-1"></div>
        <div class="w-[20px] order-2 hidden lg:block"></div>

        <div class="w-lg basis-1/2 order-3 mx-4 my-4">
          <div>
            <img src="/assets/images/jd9-org-qr.svg"
              alt="QR Code for jd9.org"
              class="max-w-24 max-h-24" />
          </div>
        </div> 
      </div>

      <div class="w-min-screen bg-sky-700 text-white text-center text-sm">
        <div class="flex justify-center items-center">
            &copy; {% year %} <a class="mx-1" href="site.url">{{ site.name }}</a>| 
            Site created using <a class="mx-1" href="https://11ty.dev">11ty</a> and <a class="mx-1" href="https://tailwindcss.com">Tailwind CSS</a>|
            Hosted on <a class="mx-1" href="https://cloudflare.com">Cloudflare</a>
            </div>
      </div>
    </footer>