 <!-- project-card start -->
 <div class="rounded overflow-hidden shadow-lg mb-4">
  <a href="{{ post.url}}">
  <img class="w-full " src="{{ post.data.hero_image }}" alt="{{ post.data.title}}">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ post.data.title }}</div>
    <p class="text-gray-700 text-base">
        {{ post.data.description }}
    </p>
    <p class="text-xs">
      Reading Time: {{ post.content | timeToRead }} 
    </p>

  <div class="px-6 pt-4 pb-2">
    {% for tag in post.data.tags %}
    {% if tag != "portfolio" %}
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm text-gray-700 mr-2 mb-2">
        {{ tag }}
    </span>
    {% endif %}
    {% endfor %}
  </div>
  </div>
  </a>

</div>
<!-- project-card end -->