<!-- project-card start -->
<div class="card w-full shadow-lg mb-4 rounded-md">
  <a href="{{ post.url}}">
    <figure>
      <img class="w-full " src="{{ post.data.hero_image }}" alt="{{ post.data.title}}" class="rounded-t-md">
    </figure>
  </a>
  <div class="card-body">
    <div class="card-title text-primary">{{ post.data.title }}</div>
    <p class="">
      {{ post.data.description }}
    </p>
    <p class="text-xs">
      Reading Time: {{ post.content | timeToRead }}
    </p>
    <div class="card-actions justify-end">
      {% for tag in post.data.tags %}
        {% if tag != "portfolio" %}
          <a href="/tags/{{ tag | slug }}/" class="">
            <span class="btn btn-sm btn-primary">
              {{ tag }}
            </span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

<!-- project-card end -->