<!-- seo start -->
    <meta charset="UTF-8"/>
    {% if description %}<meta name="description" content="{{ description }}"/>{% endif %}
    {% if keywords %}<meta name="keywords" content="{{ keywords }}">{% endif %}
    {% if author %}<meta name="author" content="{{ author }}">{% endif %}
    <meta name="robots" content="index, follow"/>
    <meta name="generator" content="{{ eleventy.generator }}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="build" content="" />
    <!-- seo end -->