    <!-- seo start -->
    <meta charset="UTF-8"/>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="author" content="{% if author %}{{ author }}{% else %}{{ site.author }}{% endif %}">
    <meta name="robots" content="index, follow"/>
    <meta name="generator" content="{{ eleventy.generator }}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="" />
