<!-- side navigation -->
        <aside class="w-full flex items-center pr-4 pt-20 pb-3 md:min-h-full">

          <!-- side col 1 -->
          <div class="flex-auto basis-1/2"></div> 

          <!-- side col 2 - nav -->
          <div class="flex-auto basis-1/2 top-0 mx-auto self-start sticky">
            <div class="p-4 rounded w-full bg-gray-100 dark:bg-gray-800">
              <div class="p-4 grid justify-end ">
                      <img src="/assets/images/logo.svg" eleventy:ignore alt="Logo" class="h-8 mx-auto mb-4">
              </div>
  
              <div class="">
                <div class="nav flex flex-col overflow-hidden sidebar pb-2">
                menu here
                </div>
              </div>

            </div>
          </div>
      </aside>
      
