<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ siteName }}{% if title %} &raquo; {{ title }}{% endif %}{% endblock %}</title>
    <!-- preconnect -->
    <link rel="preconnect" href="//cdn.jsdelivr.net" crossorigin>
    <link rel="preconnect" href="//res.cloundinary.com" crossorigin>    
    {% include "seo.njk" %}
    <!-- styles -->
    <link rel="stylesheet" href="/assets/css/tailwind.css?v={% version %}"/>
    <!-- favicon -->
    <link rel="icon" href="/assets/images/logo.svg" type="image/svg+xml"/>
    {% if slideshow %}<!-- Slideshow: https://pagedone.io/docs/carousel-->
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>{% endif %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block head %}{% endblock %}
  </head>

  <body class="bg-white dark:bg-gray-900 text-black dark:text-white">{% include "tw_size.njk" %}
    <div class="md:flex max-w-[1400px] min-h-screen mx-auto">

      <!-- column sidebar-l -->
      <div class="w-xs order-1">
        {% include "sidebar-l.njk" %}
        
      </div>

      <!-- column divider -->
      <div class=" w-[20px] order-2">
        <div class="flex-none w-[20px] fixed bg-[url(/assets/images/optim.svg)] eleventy:ignore h-full dark:bg-[url(/assets/images/optim_dark.svg)] order-2"></div>       
      </div>

      <!-- column mainbar -->
      <div class="w-lg basis-1/2 order-3">
        <main role="main" class="w-full">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
        </main>
      </div>

      <!-- column sidebar-r -->
      <div class="w-xs order-4">
        {% include "sidebar-r.njk" %}
      </div>

    </div>  
  </body>

</html>