---
layout: default.njk
---
<div class="">
  <header class="h-{{ iHeight}} relative">
    <img 
      src="{{ hero_image }}" 
      alt="{{ heading }}" 
      class="w-full h-{{ iHeight }} rounded-r-lg" />
    <div class="inset-0 flex ml-4 mb-4 items-end top-12 absolute">
      <h1 class="text-white font-bold bg-black/40 p-2 rounded-sm backdrop-blur-xs">{{ heading }}</h1>
    </div>
  </header>

  <!-- main content -->
  <main>
    <div class="pt-4 px-4 suprose">

  {{ content | safe }}

    <div class="h-48">
      <h2>Related Projects</h2>
    </div>  

    </div>
      <!-- column sidebar-r -->
      <div class="w-[200px] order-4 bg-blue-100">
        {% include "sidebar-r.njk" %}
      </div>

  </main>
</div>



