---
layout: default.njk
rbar: true
---

<div class="max-w-4xl mx-auto pt-20">
  <header class="h-96 relative">
    <img src="{{ hero_image }}" alt="{{ heading }}" class="w-full h-96 object-cover object-center rounded-r-lg" />
    <div class="inset-0 flex ml-4 mb-4 items-end top-12 absolute">
      <h1 class="text-white font-bold bg-black/40 p-2 rounded-sm backdrop-blur-xs">{{ heading }}</h1>
    </div>
  </header>

  <!-- main content -->
  <main>


<div class="mx-auto pt-4 px-4 suprose">

<h2 id="background">Background</h2>
{{ preamble | safe }}

<h2 id="problem">Problem</h2>
{{ problem | safe }}

{% if slideshow %}
{% include "swiper.njk" %}
{% endif %}


<h2 id="solution">Solution</h2>
{{ solution | safe }}

<div class="h-4"></div>
</div>
  </main>
</div>

<div class="h-48"></div>