@import "tailwindcss";
@plugin "@tailwindcss/typography"; /* https://github.com/tailwindlabs/tailwindcss-typography */
@plugin "@tailwindcss/forms"; 



/* Custom CSS */

@layer base {

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-blue-500 dark:text-blue-300 py-2;
}

.suprose {
  font-family: IBM Plex Plus, Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  @apply text-gray-600 dark:text-gray-200;
}

.suprose p {
  @apply mb-8;
}

 .swiper-container {
  width:100%;
  @apply h-96;
  }

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 32px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
  }

  .swiper-pagination-bullet {
  background: #4f46e5;
  }

  .swiper-slide {
  width:auto;
  height:auto;
  }
  .swiper-container img {
  height:auto;
  @apply h-88 object-contain;
  }  

}


