@import "tailwindcss";
@plugin "@tailwindcss/typography"; /* https://github.com/tailwindlabs/tailwindcss-typography */
@plugin "daisyui"; 

extend: {
  screens: {
    print: { raw: 'print' }
  }
}

/* Custom CSS */

@layer base {

  @theme {
    --font-sans: InterVariable, sans-serif; /* https://tailwindui.com/documentation#add-the-inter-font-family */
  }
  

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-sky-700 dark:text-sky-300 py-2;
}

/* custom elements from here */

.a-link, .a-link:link {
  background-image: linear-gradient( rgba(255,255,255,0) 53%, rgba(3, 105, 161, 1) 53%);
	background-size: auto 175%;
	transition: background .3s ease-in-out;
}

.a-link:hover {
  background-position-y: 100%; 
  @apply bg-gradient-to-t from-sky-200 to-sky-100;
  cursor: pointer;
}

.plain a { /* used when we don't want yellow links */
  background-image: none;
} 

.external {
  @apply after:content-['_↗'];
}

.indy-button {
  @apply text-white bg-sky-700 dark:bg-sky-500 hover:bg-sky-500 dark:hover:bg-sky-700;
}

.suprose {
  @apply text-gray-600 dark:text-gray-200;
}

.suprose p {
  @apply mb-8;
}

 .swiper-container {
  width:100%;
  @apply h-96;
  }

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 32px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
  }

  .swiper-pagination-bullet {
  background: #4f46e5;
  }

  .swiper-slide {
  width:auto;
  height:auto;
  }
  .swiper-container img {
  height:auto;
  @apply h-88 object-contain;
  }  

}


