---
title: NormaTec
layout: portfolio.njk
description: "leg pumpy thing"
author: jalapeno.design
keywords: dfm

heading: NormaTec Recovery

hero_image: NormaTec_Hero_2000x1000.jpg

problem: |
  <p>NormaTec is a company that makes a leg pumpy thing.</p>
  <p>needed more leg pumpy things.</p>

solution: |
  <p>I designed a leg pumpy thing.</p>

---
