---
layout: default.njk
title: About
---

  <div class="suprose border border-2 border-l-0 border-gray-200 dark:border-gray-700 pl-4 rounded-br-lg rounded-tr-lg px-4 min-h-{{ iHeight }}">
    <h1 class="">About Me</h1>

      <div class="suprose suprose flex-none">
        <p>I am a highly experienced Design Engineer with over 30 years of expertise in the development of medical devices and medical equipment. Throughout my career, I have collaborated with a diverse range of clients, from individual inventors to multinational corporations, while working with leading design consultancies in both the UK and the USA. In addition to medical devices, my experience extends to the development of domestic appliances, office furniture, and ruggedized equipment.</p>

        <p>With a deep understanding of manufacturing processes, materials, and product development methodologies, I bring a comprehensive skill set to every project. I have over 25 years of experience using SolidWorks and am also proficient in other CAD platforms, including AutoCAD, OnShape, and Fusion 360.</p>
        
        <p>I am a creative problem solver with a strong attention to detail and the ability to work both independently and collaboratively within a team. I am always eager to take on new challenges and contribute to projects that have a meaningful impact on people's lives.</p>
        
        <p>Based in the Eastern Time Zone (New Hampshire, USA), I operate from a well-equipped home office with on-site prototyping capabilities, including FDM and SLA additive manufacturing.</p>
        
        <p>If you are looking for an experienced and innovative design engineer to support your next project, I would be happy to discuss your needs and explore how I can help you achieve your goals. Please feel free to <a href="/contact/" class="a-link">contact me</a>.</p>
        
      </div>
      <div class="flex-1 block"></div>
</div>