---
layout: default.njk
title: Design Awards
---

<div
  class="suprose border border-2 border-l-0 border-gray-200 dark:border-gray-700 pl-4 rounded-br-lg rounded-tr-lg px-4 pb-4 min-h-{{
    iHeight
  }}"
>
    <h1 id="skills">Design Awards</h1>



    <div class="w-full">
      <img 
        src="/assets/images/AC3-Optimus-CP-MDEA-Award-2019.jpg" 
        alt="AC3 Optimus CP MDEA Award 2019" 
        class="w-full" />
    </div>

    <div class="w-full">
      <img 
        src="/assets/images/dog-collar-2020.png" 
        alt="AC3 Optimus CP MDEA Award 2019" 
        class="w-full" />
</div>
