---
layout: default.njk
title: Contact
---
<!-- https://scriptbinary.com/alpinejs/dynamic-form-validation-using-alpinejs#example-dynamic-form-validation -->
  <div class="suprose border border-2 border-l-0 border-gray-200 dark:border-gray-700 pl-4 rounded-br-lg rounded-tr-lg px-4 min-h-{{ iHeight }}">
      <h1 class="">Let's Talk</h1>
      <p class="mt-3">
        Have some big idea to develop and need help? Then reach out I'd love to
        hear about your project and provide help.
      </p>

    <div class="flex">
      <div class="w-1/2 border-r-2 border-gray-200 dark:border-gray-700 pr-4">
        <h2 class="">Contact Information</h2>
        <p class="mt-3">
          Feel free to contact me via email or phone. I'm always open to
          discussing new projects, creative ideas, or opportunities to be part
          of your visions.
        </p>
        <div class="w-2/3 mt-3 grid grid-cols-3 gap-2 bg-base-200 p-2 rounded-lg mx-auto border border-gray-200 dark:border-gray-700">
          <div class="flex justify-end">
            <img src="/assets/images/email-address-svgrepo-com.svg" alt="email icon" class="h-6 w-6" />
          </div>
          <div class="col-span-2">
            <a href="mailto:{{ site.email }}" class="text-base-content hover:underline">
              {{ site.email }}
            </a>
          </div>
          <div class="flex justify-end">
            <img src="/assets/images/phone-rotary-svgrepo-com.svg" alt="phone icon" class="h-6 w-6" />
          </div>
          <div class="col-span-2">
            <a href="tel:{{ site.phone }}" class="text-base-content hover:underline">
              {{ site.phone }}
            </a>
          </div>
        </div>
      <div class="w-2/3 mt-4 m-auto">Or fill out the form on the right and I will get back to you as soon as possible.</div>

      </div>
      <div class="w-1/2">
        <!-- form start -->
        <form action="https://formspree.io/f/meoenqye" method="POST" class="">
          <!-- name input -->
          <div class="grid grid-cols-3 gap-4">
            <div class="text-right px-2 content-center">
              <label for="name" class="text-sm"> name: </label>
            </div>
            <div class="col-span-2">
              <input
                type="text"
                name="name"
                id="name"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder="Name"
                required
              />
            </div>

            <!-- email input -->
            <div class="text-right px-2 content-center">
              <label for="email" class="text-sm"> email: </label>
            </div>
            <div class="col-span-2">
              <input
                type="text"
                name="email"
                id="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder="email"
                required
              />
            </div>
            <!-- phone input -->
            <div class="text-right px-2 content-center">
              <label for="phone" class="text-sm"> phone: </label>
            </div>
            <div class="col-span-2" x-data>
              <input
                type="tel"
                x-mask="999-999-9999"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                name="phone"
                id="phone"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder="123-456-7890"
              />
            </div>
            <!-- company input -->
            <div class="text-right px-2 content-center">
              <label for="company" class="text-sm"> company: </label>
            </div>
            <div class="col-span-2">
              <input
                type="text"
                name="company"
                id="floating_company"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder="Company"
                required
              />
            </div>
            <!-- message input -->
            <div class="text-right px-2 content-center">
              <label for="message" class="text-sm"> message: </label>
            </div>
            <div class="col-span-2">
              <textarea
                name="message"
                id="message"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder=""
                required
                rows="4"
              ></textarea>
            </div>
            <!-- message input end -->
            <div class="col-start-2 pb-4">
              <div class="mt-2">
                <button
                  type="submit"
                  class="indy-button font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- form end -->
      </div>
    </div>
</div>