---
layout: default.njk
title: Contact
---
<!-- https://scriptbinary.com/alpinejs/dynamic-form-validation-using-alpinejs#example-dynamic-form-validation -->
  <div class="suprose border border-l-0 border-gray-200 dark:border-gray-700 pl-4 rounded-br-lg rounded-tr-lg px-4 min-h-{{ iHeight }}">
      <h1 class="text-4xl md:text-5xl font-bold tracking-tight">Let's Talk</h1>
      <p class="mt-3">
        Have some big idea to develop and need help? Then reach out I'd love to
        hear about your project and provide help.
      </p>

    <div class="flex">
      <div class="w-1/2 border-r-2 border-gray-200 dark:border-gray-700 pr-4">
        <h2 class="text-2xl font-bold tracking-tight">Contact Information</h2>
        <p class="mt-3">
          Feel free to reach out to me via email or phone. I'm always open to
          discussing new projects, creative ideas, or opportunities to be part
          of your visions.
        </p>
        Tel: <a href="tel:(978) 255-3009">(978) 255-3009</a>
      </div>
      <div class="w-1/2">
        <!-- form start -->
        <form action="https://formspree.io/f/meoenqye" method="POST" class="">
          <!-- name input -->
          <div class="grid grid-cols-3 gap-4">
            <div class="text-right px-2 content-center">
              <label for="name" class="text-sm"> name: </label>
            </div>
            <div class="col-span-2">
              <input
                type="text"
                name="name"
                id="name"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder="Name"
                required
              />
            </div>

            <!-- email input -->
            <div class="text-right px-2 content-center">
              <label for="email" class="text-sm"> email: </label>
            </div>
            <div class="col-span-2">
              <input
                type="text"
                name="email"
                id="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder="email"
                required
              />
            </div>
            <!-- phone input -->
            <div class="text-right px-2 content-center">
              <label for="phone" class="text-sm"> phone: </label>
            </div>
            <div class="col-span-2" x-data>
              <input
                type="tel"
                x-mask="(999) 999-9999"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                name="phone"
                id="phone"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder="123-456-7890"
              />
            </div>
            <!-- company input -->
            <div class="text-right px-2 content-center">
              <label for="company" class="text-sm"> company: </label>
            </div>
            <div class="col-span-2">
              <input
                type="text"
                name="company"
                id="floating_company"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder="Company"
                required
              />
            </div>
            <!-- message input -->
            <div class="text-right px-2 content-center">
              <label for="message" class="text-sm"> message: </label>
            </div>
            <div class="col-span-2">
              <textarea
                name="message"
                id="message"
                class="border border-gray-300 rounded p-1 w-full"
                placeholder=""
                required
                rows="4"
              ></textarea>
            </div>
            <!-- message input end -->
            <div class="col-start-2 pb-4">
              <div class="mt-2">
                <button
                  type="submit"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- form end -->
      </div>
    </div>
</div>