---
layout: default.njk
title: Contact
---

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
{% endblock %}

{% block title %} {{ title }}{% endblock %}

{% block content %}

    <div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-lg">
      <img src="/assets/images/logo.svg" alt="Logo" class="h-12 mx-auto mb-4" eleventy:ignore>
        <h1 class="text-center text-3xl font-bold mb-6">{{ siteName }}</h1>
      <div class="prose mx-auto">

      <p class="">
        {% if contactText %}
          {{ contactText | safe }}
        {% else %}
          Please use the form below to get in touch with me. I will respond as soon as possible.
        {% endif %}
      </p>

    <p>
      <div class="py-12">
        <div class="mt-8">

            <!-- form start -->
            <form 
              action="https://formspree.io/f/meoenqye" 
              method="POST" 
              class="max-w-md mx-auto"
              on-load="getIP()"
              >

              <!-- name input -->
              <div class="relative z-0 w-full mb-5">
                  <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                    placeholder=" " 
                    required />
                  <label 
                    for="name" 
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                    Your name
                  </label>
              </div>

              <!-- email input -->
              <div class="relative z-0 w-full mb-5">
                  <input 
                    type="email" 
                    name="email" 
                    id="floating_email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                    placeholder=" " 
                    required />
                  <label 
                    for="floating_email" 
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                    Email address
                  </label>
              </div>

              <!-- phone input -->
              <div class="relative z-0 w-full mb-5">
                  <input 
                    type="tel" 
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" 
                    name="phone (123-456-7890)"  
                    id="floating_phone" 
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                    placeholder=" " 
                    required />
                  <label 
                    for="floating_phone" 
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                    Phone number  
                  </label>
              </div>

              <!-- company input -->
              <div class="relative z-0 w-full mb-5">
                <input 
                  type="text" 
                  name="company" 
                  id="floating_company" 
                  class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                  placeholder=" " 
                  required />
                <label 
                  for="floating_company" 
                  class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                  Company
                </label>
              </div>
  


              <!-- message input -->
              <div class="relative z-0 w-full mb-5">

                <label 
                  for="message"
                  class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 scale-75 top-3 origin-[0]">
                  Additional details
                  </label>
                  <textarea
                    name="message"
                    id="message"
                    class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black" 
                    rows="2">
                  </textarea>
                  </div>
              <!-- message input end -->

            <div class="block">
              <div class="mt-2">
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>

              </div>
            </div>
          </form>
          <!-- form end -->

        </div>
      </div>
    </p>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
{% endblock %}
