---
layout: default.njk
title: Home
hero_image: /assets/images/main_hero.jpg
heroAlt: Picture of a set of white molded parts in a disasebled state.
heading: Jalapeno Design
---

<div class="">
  <!-- hero image -->
  <header class="h-{{ iHeight }} relative">
    <img
      src="{{ hero_image }}"
      alt="{{ heroAlt }}"
      class="w-full h-{{ iHeight }} rounded-r-lg object-cover"
      width="1044"
    />
    <div class="inset-0 flex ml-4 mb-4 items-end top-12 absolute">
      <h1
        class="text-white font-bold bg-black/40 p-2 rounded-sm backdrop-blur-xs"
      >
        {{ heading }}
      </h1>
    </div>
  </header>

  <div class="grid grid-cols-2 py-4">
    <div class="block pl-4 mr-2">
      <p class="mb-4">
        I am a Design Engineer with over 35 years experience, specializing in
        the development of medical devices and medical equipment.
      </p>

      <p class="mb-4">
        I have worked for design consultancies in the UK and USA, with clients
        ranging from individual inventors to international corporations.
      </p>

      <p class="mb-4">
        As well as medical devices, I have experience developing a range of
        domestic appliances, office furniture, and ruggedized equipment.
      </p>
    </div>
    <div class="block bg-red-100 ml-2">b</div>
  </div>
</div>
