---
---
{% extends "default.njk" %}

{% block title %} {{ siteName }}{% endblock %}

{% block content %}
  <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-lg">
      <img src="/assets/images/logo.svg" alt="Logo" class="h-12 mx-auto mb-4">
      <h1 class="text-center text-3xl font-bold mb-6">{{ siteName }}</h1>
      <div class="prose mx-auto">
        <p>
          I am a Design Engineer with over 30 years experience, specializing in the development of medical devices and medical 
          equipment. I have worked for design consultancies in the UK and USA, with clients from individual inventors
          to international corporations. As well as medical devices, I have worked on domestic appliances, office furniture, and 
          ruggedized equipment.
        </p>

        <p>
          I have a strong understanding of manufacturing processes, materials, and product development methodologies. 
          With over 25 years experience using SolidWorks, and I have used other CAD packages such as AutoCAD, 
          OnShape, and Fusion 360.
        </p>

        <p>
          I am a creative problem solver, and I have a keen eye for detail. Happy working alone, but I am also a team player, 
          and I enjoy collaborating with others to achieve common goals. I am always looking for new challenges, and I am excited 
          to work on projects that make a difference in people's lives.
        </p>

        <p>
          I have a well equiped home office located in the Eastern Time Zone of the USA (New Hampshire) with on-site prototyping.
        </p>

        <p>
          If you are looking for a talented and experienced design engineer to help you with your next project, 
          please contact me. I would be happy to discuss your needs and see how I can help you achieve your goals.
        </p>

        <p>
          <a href="/contact" class="text-blue-500 underline">Contact me</a> to discuss how I can help your next project.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
