---
layout: default.njk
title: Home
hero_image: /assets/images/main_hero.jpg
heroAlt: Picture of a set of white molded parts in a disasebled state.
heading: Jalapeno Design
---

<div class="">
  <!-- hero image -->
  <header class="h-{{ iHeight }} relative">
    <img
      src="{{ hero_image }}"
      alt="{{ heroAlt }}"
      class="w-full h-{{ iHeight }} rounded-r-lg object-cover"
      width="1044"
    />
    <div class="inset-0 flex ml-4 mb-4 items-end top-12 absolute">
      <h1
        class="text-white font-bold bg-black/40 p-2 rounded-sm backdrop-blur-xs"
      >
        {{ heading }}
      </h1>
    </div>
  </header>

  <div class="w-full p-4">
    <h1>Hello</h1>
  </div>

  <div class="grid grid-cols-2 gap-8">
    <div class="px-4 mr-2aspect-square text-xl">
      <p class="mb-4 ">
        I am a Design Engineer with over 35 years experience, specializing in
        the design and development of medical devices and medical equipment.
      </p>

      <p class="mb-4">
        I have worked for design consultancies in the UK and USA, with clients
        ranging from individual inventors, to surgeons with a great idea, to
        international corporations.
      </p>

      <p class="mb-4">
        As well as medical devices, I have experience developing a range of
        domestic appliances, office furniture, and ruggedized equipment.
      </p>

      <p class="mb-4">
        I look forward to helping you with your design project, whether it is
        just an idea, or a fully developed product that needs some
        improvements.
      </p>
    </div>

 

    <div class="ml-2 aspect-square items-center relative p-8">
      <div class="pl-4 border-2 border-base-300 block w-full h-full rounded-lg">
      {% for item in grid %}
        <div class="size-60 absolute {{ item.pos }} z-0 hover:z-100">
          <a href="{{ item.link }}" class="block w-full h-full">
            <img 
              src="{{ item.imgSrc }}" 
              alt="{{ item.imgAlt }}" 
              class="rounded-lg w-full h-full object-cover brightness-80 transform transition-transform duration-500 hover:scale-105 hover:brightness-100 shadow-md " 
              width="300px"/>
            </a>
        </div>
        {% endfor %}
        <div class="right-4 bottom-4 absolute">
          <a href="/portfolio/">
            <button class="btn btn-lg btn-primary mx-auto">
              More ...
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
