---
permalink: /patents/
layout: default.njk
title: Patents
description: A list of patents related to the project.
tags: [patents]
---

<div class="w-full px-4">
 <div>
    <h1>{{ title }}</h1>
      <p>I have a number of patents and patent applications that are related to my work.</p>

      <p>These patents are listed in reverse chronological order, divided in their type.</p>

      <p>The patent number is a link to the <a href="https://www.uspto.gov/patents/search" target="_blank">USPTO Patents Search</a> page for the patent.</p>


    </div>
<h2>Granted Patents</h2>

{% set rowNo = 0 %}
{% for row in patents.granted %}
    {% set rowNo = rowNo + 1 %}
    {% include "patent_tile.njk" %}
{% endfor %}

<h2>Design Patents</h2>

{% set rowNo = 0 %}
{% for row in patents.design %}
    {% set rowNo = rowNo + 1 %}
    {% include "patent_tile.njk" %}
{% endfor %}


<h2>Patent Applications</h2>

{% set rowNo = 0 %}
{% for row in patents.applications %}
    {% set rowNo = rowNo + 1 %}
    {% include "patent_tile.njk" %}
{% endfor %}

</div>