---
title: Portfolio
layout: default.njk
---
<!-- Path: src/portfolio.njk -->
  <div class="border-2 border-l-0 border-b-0 border-gray-200 dark:border-gray-700 pl-4 rounded-br-lg rounded-tr-lg pr-4 pb-4">
    <h1>Portfolio</h1>
    <div class="grid grid-cols-2 gap-4">

  {%- for post in collections.portfolio %}
{% include "project-card.njk" %}
  {%- endfor %}

    </div>
  </div>
  <!-- end of portfolio --> s