---
title: Portfolio
layout: default.njk
---

<div class="">
  <div class="border border-l-0 border-gray-200 dark:border-gray-700 pl-4 rounded-br-lg rounded-tr-lg pr-4 py-4">
    <div class="grid grid-cols-2 gap-4">

  {%- for post in collections.portfolio %}
{% include "project-card.njk" %}
  {%- endfor %}

    </div>
  </div>
</div>