---
layout: default.njk
title: Skills
---

<div
  class="suprose border border-2 border-l-0 border-gray-200 dark:border-gray-700 pl-4 rounded-br-lg rounded-tr-lg px-4 pb-4 min-h-{{
    iHeight
  }}"
>
  <h1 id="skills">Skills</h1>

  <p>
    From the initial meetings with clients to discuss their requirements I am
    familiar with the product development process and have taken many products
    to production.
  </p>

  <h2 class="py-4">Project Skills</h2>

  <div class="grid grid-cols-3 gap-4">
    <div>Create Client Requirements</div>
    <div>Project Management</div>
    <div>Team Management</div>
    <div>Research</div>
    <div>Presentations</div>
    <div>Cost Management</div>
  </div>

  <h2 class="py-4">Design Skills</h2>

  <div class="grid grid-cols-3 gap-4">
    <div>Initial Brainstorming</div>
    <div>Concept Development</div>
    <div>Rapid Prototyping</div>
    <div>Vendor Selection</div>
    <div>EDA</div>
    <div>FMEA</div>
    <div>Patent Preparation</div>
    <div>GD&amp;T</div>
    <div>2D Drafting</div>
    <div>Documentation</div>
  </div>

  <h2 class="py-4">Technical Skills</h2>

  <div class="grid grid-cols-3 gap-4">
    <div class="font-bold">Software</div>
    <div class="font-bold">Infrastructure</div>
    <div class="font-bold">Prototyping</div>
    <div>Solidworks</div>
    <div>Microsoft Azure Admin</div>
    <div>FDM</div>
    <div>Microsoft Office</div>
    <div>Microsoft Teams Admin</div>
    <div>SLA</div>
    <div>Blender</div>
    <div>Slack Admin</div>
    <div>MJF</div>
    <div>KiCad EDM</div>
    <div>Tailscale VPN Admin</div>
    <div>Silicone Casting</div>
    <div>SmartSheet</div>
    <div>Solidworks PDM Admin</div>
    <div>Soldering</div>
  </div>
</div>
