---
title: Portfolio
layout: default.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
---
<!-- tags start -->
{% set currentUrl = page.url %}
{% set urlParts = currentUrl | split('/') %}
{% set currentTag = "" %}

{% for part in urlParts %}
  {% if part %}
    {% set currentTag = part %}
  {% endif %}
{% endfor %}
<!-- current url: {{ currentUrl }} -->

  <div class="border-2 border-l-0 border-gray-200 dark:border-gray-700 pl-4 rounded-br-lg rounded-tr-lg pr-4 pb-4">
    <h1>Tag: {{ currentTag | ucfirst}}</h1>
    <div class="grid grid-cols-2 gap-4">
        {%- for post in collections.portfolio %}
          {% for tag in post.data.tags %}
            {% if tag == currentTag %}
{% include "project-card.njk" %}
            {% endif %}
          {%- endfor %}
        {%- endfor %}
    </div>
  </div>
<!-- tags end -->