---
eleventyExcludeFromCollections: true
---
<!-- This file is used to fix the tailwindcss classes that are not working in the nunjucks files. -->
<div
class="h-140">
<div class="bg-[#58a7e5]">
    <div class="min-h-140">fix missing tailwindcss classes</div>
</div>
</div>